// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

$dot-width: 11px;
$dot-color: var(--success-color);

.typing {
    position: relative;
    height: $dot-width;

    span {
        content: "";
        height: $dot-width;
        width: $dot-width;
        background: $dot-color;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;

        &:nth-child(2) {
            margin-left: $dot-width * 1.5;
        }

        &:nth-child(3) {
            margin-left: $dot-width * 3;
        }
    }
}
